In [1]:
import pymssql
import requests, xmltodict

In [4]:
url = f"https://apis.data.go.kr/6260000/BusanBIMS/busInfoByRouteId?lineid=5200010000&serviceKey="
key = "eGd64%2BKKwReSBNO%2FuYgP91ORnHfKn5a8%2BbWxTQXQdqOrGeRVtf%2B%2BFZufsB1Tz6osqB5cnIOjuFycCi9qnp8iIA%3D%3D"
url_key = url + key
content = requests.get(url_key).content
dict=xmltodict.parse(content)
dict_s = dict["response"]["body"]["items"]["item"]

In [11]:
for i in range(len(dict_s)):
    if dict_s[i][bstopnm] == "교대역":

TypeError: list indices must be integers or slices, not str

In [41]:
name_to_dict = {d['bstopnm']: d for d in dict_s}

# name이 'Alice'인 딕셔너리를 빠르게 찾기
desired_name = '서면한전'
desired_dict = name_to_dict.get(desired_name)
desired_dict2 = name_to_dict.get(desired_name)
dicti = {}
dicti[desired_dict['arsno']]=desired_dict['bstopnm']
desired_dict

({'bstopidx': '34',
  'bstopnm': '서면한전',
  'nodeid': '505880000',
  'lineno': '10',
  'arsno': '05713',
  'avgym': '67',
  'rpoint': '0'},
 {'bstopidx': '34',
  'bstopnm': '서면한전',
  'nodeid': '505880000',
  'lineno': '10',
  'arsno': '05713',
  'avgym': '67',
  'rpoint': '0'})

In [35]:
len(dict_s)

119

In [30]:
arsno_nextname = []
for i in range(len(dict_s)):
    if "서면한전" == dict_s[i]["bstopnm"]:
        dict_arsno_nextname = {}
        dict_arsno_nextname[dict_s[i]["arsno"]] = dict_s[i+1]["bstopnm"]
        arsno_nextname.append(dict_arsno_nextname) # 마지막 정류장일 경우도 있어서 수정 해야함 (인덱스 값을 받아서 해보기)
arsno_nextname

[{'05713': '범내골역'}]

In [23]:
import pandas as pd

In [40]:
A = {"국":"80", "영":"90","수":"100"}
B = {"국":"100", "영":"80","수":"90"}
C = []
C.append(A)
C.append(B)
D = pd.DataFrame(C)
D

     국   영    수
0   80  90  100
1  100  80   90

In [1]:
from datetime import datetime

In [7]:
int(datetime.today().strftime("%S"))

33

In [ ]:
lineid_list = []
lineid_list.append()
bust_station_name = "교대역"

In [ ]:
def get_bus_arsno(lineid_list, bus_station_name):
    temp_list = []
    temp_dict_a = {}
    for index in range(len(lineid_list)):
        temp_dict_a[f'{index}'] = lineid_list[index]
    url = f"https://apis.data.go.kr/6260000/BusanBIMS/busInfoByRouteId?"
    key = "eGd64%2BKKwReSBNO%2FuYgP91ORnHfKn5a8%2BbWxTQXQdqOrGeRVtf%2B%2BFZufsB1Tz6osqB5cnIOjuFycCi9qnp8iIA%3D%3D"
    
    for value in temp_dict_a.values():
        temp_dict = {}
        temp_lineid = f'lineid={value}&serviceKey='
        url_key = url + temp_lineid + key

        temp_dict['lineid'] = value
        content = requests.get(url_key).content
        dict=xmltodict.parse(content)
        dict_s = dict["response"]["body"]["items"]["item"]
        temp_dict['data'] = dict_s

        temp_list.append(temp_dict)
    return temp_list

a = get_bus_arsno(lineid_list, bus_station_name)
a