In [12]:
d1 = {"키1": "값1", "키2": "값2"}
d1

{'키1': '값1', '키2': '값2'}

In [10]:
d2 = dict({"키1": "값1", "키2": "값2"})
d2

{'키1': '값1', '키2': '값2'}

In [5]:
d3 = dict([("키1", "값1"), ("키2","값2")])
d3

{'키1': '값1', '키2': '값2'}

In [7]:
d4 = list(zip(["키1", "키2"], ["값1", "값2"]))
d4

[('키1', '값1'), ('키2', '값2')]

In [13]:
d5 = dict(health=490, mana=334, melee=550, armor=110)
d5

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 110}

In [15]:
d5["kkk"]

KeyError: 'kkk'

In [19]:
if "kkk" in d5:
    print(d5["kkk"])
else:
    print("d5에는 kkk가 없습니다.")

d5에는 kkk가 없습니다.

In [21]:
d5.get("kkk")

In [23]:
res = d5.get("kkk")
if res == None:
    print("d5에는 kkk가 없습니다.")

d5에는 kkk가 없습니다.

In [24]:
d5.get("mana")

334

In [28]:
for i in range(3):
    print(i, end=' ')
    i = 10

0 1 2

In [44]:
a = [1,2,3,4]
b = [];
b.append(a.pop())
b.append(a.pop())
b

[4, 3]

In [45]:
a = [1,2,3,4]
b = [];
b = a.pop()
b = a.pop()
b

3

In [42]:
a = [1,2,3,4]
a.pop(1), a #인덱스 기반

(2, [1, 3, 4])

In [36]:
a = [1,2,3,4]
a.remove(1)
a

[2, 3, 4]

In [46]:
a = [1,2,3,4]
del a[1]
a

[1, 3, 4]

In [48]:
mystack = []
mystack.append(0)
mystack.append(1)
mystack.append(2)
print(mystack)

[0, 1, 2]

In [60]:
mystack = []
mystack.append(0)
mystack.append(1)
mystack.append(2)
print(mystack)
print(mystack.pop(), mystack)
print(mystack.pop(), mystack)
print(mystack.pop(), mystack)
print(mystack.pop(), mystack)

[0, 1, 2]
2 [0, 1]
1 [0]
0 []

IndexError: pop from empty list

In [61]:
myqueue = []
myqueue.append(0)
myqueue.append(1)
myqueue.append(2)
print(myqueue)
print(myqueue.pop(0), myqueue)
print(myqueue.pop(0), myqueue)
print(myqueue.pop(0), myqueue)
print(myqueue.pop(0), myqueue)

[0, 1, 2]
0 [1, 2]
1 [2]
2 []

IndexError: pop from empty list

In [63]:
a = [1,2,3]
b = a
b[1] = 100
a, b

([1, 100, 3], [1, 100, 3])

In [65]:
a = [1,2,3]
b = a.copy()
b[1] = 100
a, b

([1, 2, 3], [1, 100, 3])

In [67]:
a = [1,2,3]
b = a[:]
b[1] = 100
a, b

([1, 2, 3], [1, 100, 3])

In [69]:
a = [38,21,53,62,19]
for index, value in enumerate(a):
    print(index, value)

0 38
1 21
2 53
3 62
4 19

In [71]:
a = [1,2,3],[2,3,4],[3,4,5]
for index, value in enumerate(a):
    print(f"{index}번 라인의 데이터{value}")

0번 라인의 데이터[1, 2, 3]
1번 라인의 데이터[2, 3, 4]
2번 라인의 데이터[3, 4, 5]

In [75]:
a = [1,2,3],[2,3,4],[3,4,5]
for index in range(3):
    print(f"{index}번 라인의 데이터{a[index]}")

0번 라인의 데이터[1, 2, 3]
1번 라인의 데이터[2, 3, 4]
2번 라인의 데이터[3, 4, 5]

In [79]:
a = [1,2,3],[2,3,4],[3,4,5]
for index, value in enumerate(a, start=1):
    print(f"{index}번 라인의 데이터{value}")

1번 라인의 데이터[1, 2, 3]
2번 라인의 데이터[2, 3, 4]
3번 라인의 데이터[3, 4, 5]

In [84]:
a = []
a.append([])
a[0].append(10)
a[0].append(20)
a.append([])
a[1].append(500)
a[1].append(600)
a[1].append(700)
a

[[10, 20], [500, 600, 700]]

In [86]:
a = "임마하고 점마하고 낑가가"
stopwords = ["임마", "점마"]
for yok in stopwords:
    a = a.replace(yok, "흠냐")
a

'흠냐하고 흠냐하고 낑가가'

In [92]:
a = """

     aaa 
hello wold


"""

a = a.strip("\n ").replace("\n", "")
a

'aaa hello wold'

In [97]:
a = "안녕 나는 뽀로로야~~~! ^^:)"
import string
a.strip(string.punctuation+' ')

'안녕 나는 뽀로로야'

In [100]:
name = "조해찬"
address = "부산시"
mes = f"{name}은 {address}에서 살고 있다"
mes

'조해찬은 부산시에서 살고 있다'

In [105]:
file = open('hello.txt', 'w')
file.write('Hello, world! \n')
file.write('dddddddd \n')
file.write('fdhfdsakjfghjsgfdsadfgh')
file.close()

In [108]:
with open('hello_width.txt', 'w') as file:
    file.write("hello_with\n")
    file.write('dddddddd \n')
    file.write('fdhfdsakjfghjsgfdsadfgh')

In [111]:
file = open('hello.txt', 'w')
file.write('메롱헤롱')
file.close()

In [122]:
file = open('mylog.log', 'w')
file.close()

In [123]:
import datetime
d = datetime.datetime.now()
file = open('mylog.log', 'a')
file.write(str(d)+" user1 accessed\n")
file.close()

In [125]:
import datetime
d = datetime.datetime.now()
file = open('mylog.log', 'a')
file.write(str(d)+" user2 terminated\n")
file.close()

In [128]:
file = open('mylog.log', 'r')
s = file.read()
file.close()

print(s)

2023-07-14 16:51:01.809132 user1 accessed
2023-07-14 16:51:08.763048 user2 terminated
2023-07-14 17:13:00.809592 user2 terminated

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2], [3,4]],
                 index = ["1st", "2nd"],
                 columns = ["A", "B"])
df

     A  B
1st  1  2
2nd  3  4

In [4]:
import pickle
with open('mydf.bin', 'wb') as file:
    pickle.dump(df, file)